.header, .container{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 60px;
    background: linear-gradient(to left, pink, #363062);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.inp{
    
    padding: 10px; 
    width: 40%;
}

.btn{
    padding: 20px;
   background: #363062;
   border: none;
   font-size: 30px;
   color: white;
}
body{
    background-image: url(photo-background.avif);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-color:#363062;
}
.styleList{
    background-color: #4D4C7D;
    color: #F99417;
    font-weight: bold;
    height: 60px;
    width: 50%;
    border-bottom: 1px solid #F99417;
    text-align: center;
    margin-top: 5px;
    list-style-type: none;
    font-size: 20px;
}

.list{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.completed{
    background-color: #EE9322;
    color: #4D4C7D;
    font-weight: bold;
    text-decoration: line-through;
    transition: all 1s ease;
}

@media all and (max-width:800px){
    h1{font-size: 40px;}
}
@media all and (max-width:500px){
    h1{font-size: 20px;}
}